@{
  Layout = "_Layout";
}
<div class="form-group">
<form action="/signup" method="post">
  <label for="name">Name</label>
  <input id="name" value="name" name="name" type="text">
  <label for="userName">UserName</label>
  <input id="userName" value="userName" name="userName" type="text">
  <label for="password">UserName</label>
  <input id="password" value="password" name="password" type="text">
  <button type="submit">Submit</button>
</form>
</div>
